/* Variables */

:root {
    --dark-color: #000000;
    --primary-color: #006CFA;
    --succes-color: #00E165;
    --lighter-color: #FFFFFF;
}

/* Utility */

.bg-white {
    background-color: var(--lighter-color);
}

/* Container top */

[class^="col-"] {
    background-color: var(--primary-color);
    color: var(--lighter-color);
    padding: 1rem;
    border: 1px solid var(--lighter-color)
}

#nested {
    background-color: var(--succes-color);
    border: 1px solid var(--primary-color)
}




